#
# Ignore documents for research purposes
#

/docs/*

#
# Ignore binary files and virtual disk images
#

/objs/*
/iso/*
/*.img
/*.ini
/*.o

#
# Ignore CScope files
#

/cscope.*

#
# Ignore bochsrc
#

/bochsrc

#
# Ignore toolchain binaries
#

/toolchain/cross/*