#
# Ignore configuration file
#

/elfboot.config
*config.h

#
# Ignore documents for research purposes
#

/docs/*

#
# Ignore build directory
#

/build/*

#
# Ignore binary files and virtual disk images
#

.iso/*
*.img
*.ini
*.o
*.o.d
*.ebm
*.bin
*.iso

#
# Ignore CScope files
#

.cscope.*

#
# Ignore bochsrc
#

/bochsrc

#
# Ignore toolchain binaries
#

/toolchain/cross/*