#
# Ignore configuration files
#

*auto.conf
*elfboot.config
*config.h

#
# Ignore documents for research purposes
#

/docs/*

#
# Ignore build directory
#

/build/*

#
# Ignore binary files and virtual disk images
#

.iso/*
*.img
*.ini
*.o
*.bc
*.ll
*.o.d
*.ebm
*.elf
*.map
*.bin
*.iso

#
# Ignore tools
#

/tools/*

#
# Ignore CScope files
#

.cscope.*

#
# Ignore bochsrc
#

/bochsrc