#
# elfboot.config
#
# Add configurations for the elfboot x86 botloader
#
# Format:
#
# FOO=y		(define a boolean configuration, true)
# FOO=n		(define a boolean configuration, false)
# FOO=42	(define a numeric configuration)
# FOO="bar"	(define a string configuration)
#
# For modules, we support two possible configurations:
#
# FOO=y		(built-in module)
# FOO=m		(external module)
#
# If modules should be built according to user config 
# in this file, said module should be added via:
#
# elfboot-$(CONFIG_FOO) += bar.o
#
# Example for module bar.o which is dependent on the
# configuration variable FOO. If FOO has been set to
# y, the module bar.o is included in the elfboot.bin
# binary file. Otherwise if it evaluates to m, bar.o
# is built as an external module.
#

#
# Build configuration
#
BUILD_BARE=n
BUILD_QEMU=n
BUILD_BOCHS=y

# Enable interrupts
INTR=n

#
# QEMU debugging
#
DEBUG_QEMU=y

#
# Bochs debugging
#
DEBUG_BOCHS=y

#
# Debugging options
#
DEBUG=y
DEBUG_FS=y

#
# Memory management configuration
#
MALLOC_MIN_SIZE=32

#
# Module configuration
#

#
# Driver configuration
#

# IDE configuration
IDE=y
IDE_DEBUG=y

# AHCI configuration
AHCI=y
AHCI_DEBUG=y

# TTY configuration
TTY=m

#
# Filesystem configuration
#

# ISO9660

ISOFS=y
ISOFS_DEBUG=y