#
# elfboot.config
#
# Add configurations for the elfboot x86 botloader
#
# Format:
#
# FOO=y		(define a boolean configuration, true)
# FOO=n		(define a boolean configuration, false)
# FOO=42	(define a numeric configuration)
# FOO="bar"	(define a string configuration)
#

# Bochs debugging
DEBUG=y
DEBUG_BOCHS=y

# Memory management configuration
MALLOC_MIN_SIZE=32