#
# elfboot.config
#
# Add configurations for the elfboot x86 botloader
#
# Format:
#
# FOO=y		(define a boolean configuration, true)
# FOO=n		(define a boolean configuration, false)
# FOO=42	(define a numeric configuration)
# FOO="bar"	(define a string configuration)
#
# For modules, we support two possible configurations:
#
# FOO=y		(built-in module)
# FOO=m		(external module)
#
# If modules should be built according to user config 
# in this file, said module should be added via:
#
# elfboot-$(CONFIG_FOO) += bar.o
#
# Example for module bar.o which is dependent on the
# configuration variable FOO. If FOO has been set to
# y, the module bar.o is included in the elfboot.bin
# binary file. Otherwise if it evaluates to m, bar.o
# is built as an external module.
#

#
# Debugging options
#

DEBUG=n
DEBUG_BOCHS=n
DEBUG_QEMU=n

#
# Architecture specific configurations
#

X86_INTERRUPT_INFO=n

#
# elfboot configuration
#
DEBUG_PCI=n

LOADER_AUTOBOOT=n

#
# Module configuration
#

#
# Driver configuration
#

# IDE configuration
DRIVER_IDE=y
DRIVER_IDE_DEBUG=n

# AHCI configuration
DRIVER_AHCI=m
DRIVER_AHCI_DEBUG=n

# TTY configuration
DRIVER_TTY=m

# PIT configuration
DRIVER_PIT=m

# Keyboard configuration
DRIVER_KBD=m
DRIVER_KBD_LAYOUT_DE=y

#
# Filesystem configuration
#
DEBUG_FS=n

# ISO9660
FS_ISOFS=y
FS_ISOFS_DEBUG=n